* {
    margin: 0;
}   

div {
    background-color: pink;
}
#hed {
    background-image: url("/images/background\ img.jpg");
    padding-top: 30vh;
    background-size: cover;
    text-align: center;
    color: rgb(155, 202, 143);
    font-size: 5vh;
    font-family: cursive;
    clip-path: polygon(0 0, 100% 0, 85% 99%, 15% 100%);
}

#cpu {
    padding-top: 2vh;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(0deg, blue, pink);
    height: 100vh;
    
}    
#list {
    padding: 2vh;
}